{% extends 'base.html.twig' %}

{% block title %}modif matériel infortique{% endblock %}

{% block body %}
<h2 class="text-center pt-2 ">
{% if (app.request.attributes.get('_route')=="utilisateur_objet_modif") %}
 Modification
 {% else %}
  Ajout
{% endif %}
d'un objet</h1>

{{form_start(formObjet,{'attr':{'novalidate':'novalidate'}})}}
{{form_row(formObjet.libelleObjet)}}
<div class="row">
  <div class="col">{{form_row(formObjet.appareil)}}</div>
  <div class="col">{{form_row(formObjet.marque)}}</div>
  <div class="col">{{form_row(formObjet.modele)}}</div>
</div>
{{form_row(formObjet.numSerieObjet)}}
{{form_row(formObjet.lastModifObjet)}}
{{form_row(formObjet.quantiteObjet)}}
<div class="row">
  <div class="col"><a href="{{path('utilisateur_objets')}} " class="btn btn-warning btn-block">Annuler</a></div>
  <div class="col"><input type="submit", class="btn btn-success btn-block" value=
  {% if (app.request.attributes.get('_route')=="utilisateur_objet_ajout") %}
  "Ajouter le matériel infortique"
  {% else %}
  "Modifier le matériel infortique"
  {% endif %}></div>
</div>

{{form_end(formObjet)}}
{% endblock %}
