{% extends 'base.html.twig' %}

{% block title %}gestion des cp{% endblock %}

{% block body %}
<h2 class="text-center pt-2 ">Attribution d'un CP</h2>

{{form_start(formCputilisateur,{'attr':{'novalidate':'novalidate'}})}}
{{form_row(formCputilisateur.Cpchemin)}}

{{form_row(formCputilisateur.nomCputilisateur)}}

<div class="row">
  <div class="col"><a href=" {{ path('admin_cputilisateurs')}} " class="btn btn-warning btn-block">Annuler</a></div>
  <div class="col"><input type="submit", class="btn btn-success btn-block" value="Valider"></div>
</div>

{{form_end(formCputilisateur)}}
{% endblock %}
