{% extends 'base.html.twig' %}

{% block title %}historique des attributions{% endblock %}

{% block body %}
<h2 class="text-center pt-2 ">Historique des Attributions</h2>
{#<a href=" {{path('admin_cputilisateur_ajout')}} " class="btn btn-success">Ajouter un cp utilisateur</a>#}

<br>
{{ form_start(formFiltreCputilisateur)}}
<div class="row">
  <div class="col-3">  {{ form_row(formFiltreCputilisateur.idprodtel)}}</div>
  <div class="col-3">  {{ form_row(formFiltreCputilisateur.idprodobjet)}}</div>
  <div class="col-2">  {{ form_row(formFiltreCputilisateur.cpchemin)}}</div>
</div>
  <button type="submit" class ="btn btn-warning">Rechercher</button>
{{ form_end(formFiltreCputilisateur)}}

<br>               
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col-2">CP du Cheminot</th>
      <th scope="col-2">CP de l'Utilisateur</th>      
      <th scope="col-1">ID du Téléphone</th>
      <th scope="col-1">ID du Matériel Informatique</th>
      <th scope="col-2">Date de l'Attribution</th>
      <th scope="col-2">Supprimer une Attribution</th>
    </tr>
  </thead>
  
  <tbody>
        {% for leCputilisateur in lesCputilisateurs %}
            <tr>            
            <div class="align-self-center badge badge-success"></div>
            <td scope="col-1">{{leCputilisateur.Cpchemin.nomCpchemin}} </td>
            <td scope="col-1">
            
            <p>
            {{leCputilisateur.nomCputilisateur}}
            </p>
            
            </td>
      
            <td scope="col-1">{{leCputilisateur.idprodtel}}</td>
            <td scope="col-1">{{leCputilisateur.idprodobjet}}</td>

            <td scope="col-2">{{leCputilisateur.datecputilisateur|date("m/d/Y")}}</td>

            <td class="col-2">
            <a class="btn btn-danger" 
            data-toggle="modal" 
            data-target="#modalSimple"
            data-titre="Suppression d'une attribution"
            data-message="Etes vous sur de vouloir supprimer l'Attribution"
            data-libelleBouton = "Supprimer l'Attribution"
            data-lien= " {{ path('admin_cputilisateur_suppression', {'id': leCputilisateur.id}) }}"
            ><i class="far fa-trash-alt"></i></a>
            </td>
            </tr>
        {% endfor %}
</tbody>
</table>
{% endblock %}
{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}
