{% extends 'base.html.twig' %}

{% block title %}gestion tels{% endblock %}

{% block body %}
<h2 class="text-center pt-2 ">Gestion des tels</h2>
<a href=" {{path('admin_tel_ajout')}} " class="btn btn-success">Ajouter un tel</a>
<hr>        
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col-1">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ID PROD</th>
      <th scope="col-5">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Libellé</th>
      <th scope="col-2">Dernière Modification</th>
      <th scope="col-2">Quantité</th>
      <th scope="col-2">Actions</th>
    </tr>
  </thead>
  
  <tbody>
        {% for leTel in lesTels %}
              {% if (leTel.quantiteTel <= 0) %}
              <table class="table table-danger">
              {% else %}
              <table class="table table-hover">
              {% endif %}
            <tr>
            <td scope="col-1">{{leTel.id}}</td>
            <td scope="col-5">
            <p class="d-flex flex-row">
                <div class="align-self-center badge badge-success"> {{leTel.appareil.genreappareil}}</div>
                <div class="align-self-center badge badge-success"> {{leTel.marque.nommarque}}</div>
                <div class="align-self-center badge badge-success"> {{leTel.modele.nommodele}}</div>
            </p>
            <p>
            {{leTel.libelleTel}}
            </p>
            </td>
            <td scope="col-2">{{leTel.lastModifTel|date("m/d/Y")}}</td>



<td scope="col-1">
           <div class="input-group input-group-sm justify-content-center">
             <a href="{{ path("admin_tels_decrease_quantite", { 'id': leTel.id})}}" class="btn btn-sm btn-outline-primary">
    <span class="fas fa-minus"></span> 
     </a>
     <span class="input-group-text bg-white border-top border-bottom"> {{leTel.quantiteTel}}</span>   
    <a href="{{ path("admin_tels_increase_quantite", { 'id': leTel.id})}}" class="btn btn-sm btn-outline-primary">
      <span class="fas fa-plus"></span>
  </a>

  </div>
            </td>

           <td class="col-2">
            <a href=" {{path('admin_tel_modif', {'id': leTel.id })}} " class="btn btn-primary"><i class="fas fa-pen"></i></a>
            <a class="btn btn-danger" 
            data-toggle="modal" 
            data-target="#modalSimple"
            data-titre="Suppression d'un tel"
            data-message="Etes vous sur de vouloir supprimer le tel : {{ leTel.libelleTel }}"
            data-libelleBouton = "Supprimer le tel"
            data-lien= " {{ path('admin_tel_suppression', {'id': leTel.id}) }}"
            ><i class="far fa-trash-alt"></i></a>
            </td>
            </tr>
        {% endfor %}
</tbody>
</table>
{% endblock %}
{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}
