{% extends 'base.html.twig' %}

{% block title %}modif objet{% endblock %}

{% block body %}
<h2 class="text-center pt-2 ">
{% if (app.request.attributes.get('_route')=="utilisateur_tel_modif") %}
   Modification
{% else %}
  Ajout
{% endif %}
d'un Tel</h1>

{{form_start(formTel,{'attr':{'novalidate':'novalidate'}})}}

{{form_row(formTel.libelleTel)}}
<div class="row">
  <div class="col">{{form_row(formTel.appareil)}}</div>
  <div class="col">{{form_row(formTel.marque)}}</div>
  <div class="col">{{form_row(formTel.modele)}}</div>
</div>
{{form_row(formTel.numSerie)}}
{{form_row(formTel.lastModifTel)}}
{{form_row(formTel.quantiteTel)}}

<div class="row">
  <div class="col"><a href="{{path('utilisateur_tels')}} " class="btn btn-warning btn-block">Annuler</a></div>
  <div class="col"><input type="submit", class="btn btn-success btn-block" value=
  {% if (app.request.attributes.get('_route')=="utilisateur_tel_ajout") %}
  "Ajouter le tel"
  {% else %}
  "Modifier le tel"
  {% endif %}></div>
</div>



{{form_end(formTel)}}
{% endblock %}
