{% extends 'base.html.twig' %}

{% block title %}gestion objets{% endblock %}

{% block body %}
<h1 class="text-center pt-2 ">Gestion des objets</h1>
<a href=" {{path('admin_objet_ajout')}} " class="btn btn-success">Ajouter un objet</a>
<hr>        
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col-1">ID PROD</th>
      <th scope="col-5">Libellé</th>
      <th scope="col-2">Dernière Modification</th>
      <th scope="col-2">Quantité</th>
      <th scope="col-2">Actions</th>
    </tr>
  </thead>
  

  <tbody>
        {% for leObjet in lesObjets %}
            <tr>
            <td scope="col-1">{{leObjet.id}}</td>
            <td scope="col-7">
            <p>
            {{leObjet.libelleObjet}}
            </p>
            </td>
           
            <td scope="col-1">{{leObjet.lastModifObjet|date("m/d/Y")}}</td>
            <td scope="col-1">{{leObjet.quantiteObjet}}</td>
           <td class="col-2">
            <a href=" {{path('admin_objet_modif', {'id': leObjet.id })}} " class="btn btn-primary"><i class="fas fa-pen"></i></a>
            <a class="btn btn-danger" 
            data-toggle="modal" 
            data-target="#modalSimple"
            data-titre="Suppression d'un objet"
            data-message="Etes vous sur de vouloir supprimer l'objet : {{ leObjet.libelleObjet }}"
            data-libelleBouton = "Supprimer l'objet"
            data-lien= " {{ path('admin_objet_suppression', {'id': leObjet.id}) }}"
            ><i class="far fa-trash-alt"></i></a>
            </td>
            </tr>
        {% endfor %}
</tbody>
</table>
{% endblock %}
{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}
